#cms_print_pagelayer{}
#cms_print_title{text-align: center;}
#cms_print_url{text-align: left; margin-top: 10px; border: 1px solid; padding: 2px;}
.cms_print_image{}
#cms_print_body{}
.cms_print_separator{}
#cms_print_footer{}