<!-- If you want to know why some style information is hard coded, the answer is that module
style sheets do not work on cached blocks. I think this is a long-standing core bug -->

<!-- Summary mode -->
<{if $block.show_logos == TRUE}>
	<{foreach item = start from = $block.select_content_cms}>
		<h2 style="clear:both; margin-bottom:1em;"><{$start.title}></h2>
		<p class="cms_description"><a href="<{$start.itemUrl}>" title="<{$start.title}>"></a><{$start.extended_text}></p>
	<{/foreach}>
	
<!-- Compact list mode -->
<{else}>
	<ul>
		<{foreach item = start from = $block.select_content_cms}>
			<li><a href="<{$start.itemUrl}>" title="<{$start.title}>"><{$start.title}></a></li>
		<{/foreach}>
	</ul>
<{/if}>